<div class="container content-box">
    <div class="row main-div bg-white">
        <div class="col sub-div">
            <div class="logo-img">
                <img class="logo-image" src="assets/icons/logo.png">
            </div>
            <!-- <div class="toggle">Login with password <mat-slide-toggle [checked]="viaOtp" [disabled]=false
                    (change)="changeToggle($event)"></mat-slide-toggle>
                Login with Otp</div> -->

            <div *ngIf="!forgot && !viaOtp">


                <div class="search">
                    <input class="form-control" type="text" placeholder="Username" [(ngModel)]="username" aria-label="Search">

                    <input class="form-control password" type="password" placeholder="Password" [(ngModel)]="password" aria-label="Search">

                </div>
                <a class="forgotpass" (click)="forgotPass()">Forgot password?</a>
                <div class="btn-login">
                    <button type="submit" mat-raised-button class="primary" (click)="signIn();">Sign in</button>
                </div>
                <div class="white section1 mat-elevation-z4"></div>
            </div>
            <div>
                <div *ngIf="viaOtp">
                    <div class="col-md-12 inputPadding">
                        <input class="cstmInput form-control userImg" matInput placeholder="Username">
                    </div>

                    <div class="col m12 s12 inputPadding2">
                        <button mat-raised-button color="primary" class="cstmBtn1">Send
                            OTP</button>
                    </div>

                </div>
            </div>
            <div>
                <div class="div1" *ngIf="Otp">
                    <h5 class="signText">Login with Otp</h5>
                    <div class="col-md-12 inputPadding">
                        <span class="lbl">Username<em>*</em></span>
                        <input class="cstmInput inputMargin form-control userImg" name="emailPhn" matInput
                            placeholder="">
                    </div>

                    <div class="col m12 s12 inputPadding2 txtRight">
                        <button mat-raised-button color="primary" class="frgtBtnStyle secondBtnColor"
                            (click)="cancel();">Cancel</button>
                        <button mat-raised-button color="primary" class="frgtBtnStyle mainBtnColor">Submit
                        </button>
                    </div>
                </div>

            </div>
            <div class="div1" *ngIf="forgot">
                <h5 class="signText">Forgot Password</h5>
                <div class="col-md-12 inputPadding">
                    <span class="lbl">Enter your email<em>*</em></span>
                    <input class="cstmInput inputMargin form-control userImg" name="emailPhn" matInput placeholder="">
                </div>

                <div class="col m12 s12 inputPadding2 txtRight">
                    <button mat-raised-button color="primary" class="frgtBtnStyle secondBtnColor"
                        (click)="cancel();">Cancel</button>
                    <button mat-raised-button class="primary" class="frgtBtnStyle mainBtnColor">Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="col sb-div sb-div-right displaynone">
            <!-- <img src="./assets/icons/pattern.png" class="pattern-img"> -->
            <h5 class="secondDivtext">Welcome To</h5>
            <h1 class="secondDivtext2">Voyager</h1>

            <!-- <img src="./assets/icons/travel_person.png" class="card-img-top" alt="..."> -->

        </div>
    </div>
</div>