.submitbtn{
    width: 100%;
    text-align: right;
    margin-bottom: 2%;
}
.btncolor{
    background: #9540a9;
    color: #fff;
    float: right;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 8px;
}
.clickSave{
    background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 10px;
  color: rgb(151, 63, 63);
  border: 1px solid;
  margin-left: 45%;
}
