<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewPort="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <!-- <mat-toolbar class="white sidenav-toolbar"> -->
            <img src="../../assets/icons/logo.png" class="logo">
        <!-- </mat-toolbar> -->
        <div class="white text-center leftUserDiv" style="margin-top: 10%;">
            <img src="../../assets/icons/user-image.png" class="rounded-circle UserImage">
            <h4 class="m-0 nameHeaddingDiv"></h4>
            <p class="headdingP"></p>
        </div>
        <mat-nav-list>
            <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/superadmin/dashboard" mat-list-item>
                <span><img class="sidemenuIcon" src="../../assets/icons/dashboard_New.png"></span>
                <span>Dashboard</span>
            </a>

            <!-- <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/tax">
                <span><img class="sidemenuIcon" src="../../assets/icons/visa-information.png"></span>
                <span>Tax Calculation</span>
            </a>
            <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/admin">
                <span><img class="sidemenuIcon" src="../../assets/icons/visa-information.png"></span>
                <span>Admin</span>
            </a>


            <a class="sidenavelement sidenavDiv" routerLinkActive="active-link" routerLink="/employee">
                <span><img class="sidemenuIcon" src="../../assets/icons/employee_New.png"></span>
                <span>Employee </span>
            </a> -->

            <div class="theme-options">

                <div id="theme-white" [ngClass]="(storedTheme ==='theme-white') ? 'active' : '' "
                    (click)="setTheme('theme-white')"></div>
                <div id="theme-black" [ngClass]="(storedTheme ==='theme-black') ? 'active' : '' "
                    (click)="setTheme('theme-black')"></div>
                <div id="theme-orange" [ngClass]="(storedTheme ==='theme-orange') ? 'active' : '' "
                    (click)="setTheme('theme-orange')"></div>
                <div id="theme-purple" [ngClass]="(storedTheme ==='theme-purple') ? 'active' : '' "
                    (click)="setTheme('theme-purple')"></div>
            </div>
        </mat-nav-list>


        <div class="poweredByDiv">Powered By
            <span><img style="margin: auto;" src="../../assets/icons/powered-by-mobilitysqr.png" alt=""> </span>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="toolbarColor cstmToolBar">

            <button type="button" aria-label="Toggle sidenav menuColor" mat-icon-button (click)="drawer.toggle()" *ngIf="small">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div class="col-md-8"></div>
            <span class="example-fill-remaining-space"></span>


            <button mat-icon-button class="mat-icon-button" color="primary" matBadge=0 matBadgePosition="after"
                matBadgeColor="accent">
                <img src="assets/icons/well.png" class="wellImg" />
            </button>&nbsp;

            <p class="signOut cursorPointer">Sign Out</p>
        </mat-toolbar>

    </mat-sidenav-content>
</mat-sidenav-container>